#actions{
    display: flex;
    justify-content: center;
}

#actions span{
    color: var(--text-secondary);
    height: auto;
    font-size: 16px;
    padding: 0 3px;
}

#actions button{
    font-size: 14px;
    border: none;
    color: var(--text-secondary);
    background-color: transparent;
    cursor: pointer;
}

#actions button:hover{
    color: var(--text-primary);
}

