#listToPrint {
  width: 100%;
}
#listToPrint li {
  display: flex;
  list-style: none;
  text-align: center;
  border-bottom: 2px solid gray;
  padding-left: 10px;
  margin: 5px;
}

#listToPrint li div {
  margin-left: auto;
}

#complete{
  margin-left: 20px;
  width: 23px;
  height: 23px;
  border: 2px solid gray;
}
