@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

:root {
  --background: white;
  --background-secondary: rgb(34, 196, 155);
  --text-primary: rgb(255, 255, 255);
  --text-secondary: rgb(227, 240, 234);
  --text: rgb(35, 37, 36);
  --accent: rgb(236, 69, 69);
  --accent-secondary: rgb(236, 69, 69);
}

[theme="dark"] {
  --background: rgb(45, 44, 61);
  --background-secondary: rgb(45, 44, 61);
  --text-primary: rgb(255, 255, 255);
  --text-secondary: rgb(97, 197, 97);
  --text: rgb(255, 255, 255);
  --accent: rgb(97, 197, 97);
  --accent-secondary: rgb(252, 216, 16);
}

* {
  font-family: 'Hind Siliguri', sans-serif;
  box-sizing: border-box;
}

h1 {
  color: var(--text-primary);
  text-align: center;
  margin: 0;
}

#container {
  width: 50%;
  margin: 0 auto;
}

#wrapper {
  min-height: 100vh;
  background-color: var(--background);
}

#top{
  background-color: var(--background-secondary);
  padding-bottom: 8px;
}

.light {
  color: rgb(252, 251, 228);
  cursor: pointer;
}

.dark {
  color: rgb(8, 5, 22);
  cursor: pointer;
}

#theme {
  text-align: end;
  padding-top: 9px;
}

@media (max-width: 720px) {
  #container {
    width: 80%;
  }
}

@media (max-width: 500px) {
  #container {
    width: 95%;
  }
}
