@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

:root {
  --background: white;
  --text-primary: rgb(39, 38, 38);
  --text-secondary: rgb(11, 148, 91);
  --accent: rgb(37, 143, 81);
}

[theme="dark"] {
  --background: rgb(13, 14, 12);
  --text-primary: rgb(232, 243, 236);
  --text-secondary: rgb(153, 168, 201);
  --accent: rgb(133, 160, 190);
}

* {
  font-family: "Balsamiq Sans", cursive;
  box-sizing: border-box;
}

h1 {
  color: var(--text-primary);
  text-align: center;
}

#container {
  width: 50%;
  margin: 0 auto;
}

#wrapper {
  min-height: 100vh;
  background-color: var(--background);
}

.light {
  color: rgb(252, 251, 228);
  cursor: pointer;
}

.dark {
  color: rgb(55, 45, 112);
  cursor: pointer;
}

#theme {
  text-align: end;
  padding-top: 9px;
}

@media (max-width: 720px) {
  #container {
    width: 80%;
  }
}

@media (max-width: 500px) {
  #container {
    width: 95%;
  }
}
